---
rabbitmq_host: "localhost:5672"
rabbitmq_user: guest
rabbitmq_password: guest
publish_exchange: pidata
publish_key: pidata
# how many seconds to wait between publishes
refresh_time: 20
# maximum amount of orders allowed in a manifest
manifest_size: 10
# how many seconds customers in cooldown must wait
cooldown_time: 300
# how many seconds each start is valid for
active_time: 60
# consumer bindings to RabbitMQ
consumer_bindings:
  exchange: mpi
  input_queue: mpi
  keys:
    - "start"
    - "stop"
  queue_size: 10000
